h1 {
    display: flex;
    justify-content: center;
    color: red;
    padding: 5px 15px;
    margin: 75px auto 15px auto;
    width: 150px;
    border: 2px dotted green;
}

h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: red;
    color: green;
}

h4 {
    display: flex;
    justify-content: center;
    color: green;
}

p {
    display: flex;
    justify-content: center;
}